@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #484848;
}
.sec_header {
  box-shadow: 0px 4px 2.4px 0px rgba(0, 0, 0, 0.08);
  border: 0;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
}
.header_inr {
  padding: 0 75px;
}
.head_top {
  color: #fff;
  background: linear-gradient(90deg, #000 0%, #3d58a4 48.96%, #000 100%);
  padding: 21px 0 20px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.logo {
  border-radius: 6px;
  overflow: hidden;
  max-width: 300px;
}
.call_us {
  line-height: 1.2;
}
.call_us a {
  display: block;
}
.call_us span {
  padding-right: 8px;
}
.call_us_text {
  font-size: 17px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.call_us_text a {
  font-weight: 600;
  line-height: normal;
  color: #fff;
  font-family: "Manrope", sans-serif;
}
.quote {
  padding-left: 15px;
}
.top_text {
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 500;
}
.top_text span {
  color: #3fab3b;
}
.custom_btn {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.y_btn {
  background: #f9d84c;
}
.g_btn {
  background: #dddddd;
}
.b_btn {
  background: #3d58a4;
  color: #fff;
  line-height: 1.8;
}

.all_room.radio_check:has(.sc_b_btn){
  width:100%;
} 

.b_btn.sc_b_btn {
  padding: 6px 16px;
  line-height: 1;
  font-size: 14px;
  position: absolute;
  left: 30px;
  min-width: 130px;
}

@media (max-width: 1280px) {
  .b_btn.sc_b_btn {
    position: static;
  }
}

.border_btn {
  border: 3px solid #3d58a4;
  cursor: pointer;
}
.quote a {
  padding: 21px 14px 23px;
  font-size: 26px;
  color: #191919;
  display: block;
  text-align: center;
}
.main-wrap {
  padding: 132px 0 0 0;
}

#notComplete,
#submitGood,
#dbError {
  display: none;
}
#results {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  margin-top: 50px;
  color: #222;
}

/*form styles*/
/* .right_sec{ width: 1420px;max-width: 100%;margin:0 auto;position: relative;}
  .right_img{position: absolute;right: 0;} */
.right_sec {
  width: 50%;
  padding-left: 15px;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 95px;
}
.right_sec_inr {
  background: #fff;
  padding: 20px 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_section {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  padding: 0 30px 140px;
}
#msform {
  width: 1420px;
  max-width: 100%;
  margin: 20px auto 0;
  position: relative;
  z-index: 1;
  padding: 0;
}
#msform .logo {
  display: none;
}
.form_content {
  position: relative;
  min-height: 660px;
}
.fieldset_inr {
  width: 50%;
  height: 100%;
  padding: 30px 30px 20px;
  background: #cbe4f4;
}
.fieldset_inr form .fieldlabels {
  margin: 20px 0 10px;
  color: #3d58a4;
}
.fieldset_inr form .fieldlabels span {
  color: #ff0000;
}
fieldset.fieldset_inr_full[style="display: block; left: 0%; opacity: 1;"]
  .fieldset_inr {
  width: 100%;
}
fieldset.fieldset_inr_full[style="display: block; left: 0%; opacity: 1;"]
  + .right_sec {
  display: none;
}
#msform fieldset {
  /* background: #CBE4F4; */
  border: 0 none;
  border-radius: 3px;
  /* padding: 20px 30px; */
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  /*stacking fieldsets above each other*/
  position: absolute;
  height: 100%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea,
#msform select {
  padding: 8px 15px;
  border: 1px solid #707070;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #484848;
  font-size: 16px;
  border-radius: 8px;
}
#msform .pro_details .fieldlabels {
  width: 130px;
  margin: 0;
}
#msform .pro_details input {
  margin: 0;
  max-width: 400px;
}
#msform .pro_details .relative .text-red-400 {
  position: absolute;
  left: 130px;
  bottom: -8px;
}

#msform input:focus,
#msform textarea:focus,
#msform select:focus {
  /* padding: 8px 15px;
  border: 1px solid #707070;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #484848;
  font-size: 16px; */
  outline: none;
}
#msform select.custom_select {
  background: #fff url(../images/select_arrow.png) no-repeat right 10px center !important;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}
/*buttons*/
.start-over {
  position: absolute;
  right: 0;
  top: 5px;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #dddddd;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.start-over svg {
  margin-left: 10px;
}
#msform .action-button {
  width: auto;
  height: 66px;
  background: #f9d84c;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 25px;
  margin: 10px 0px;
  text-transform: uppercase;
  position: absolute;
  bottom: -100px;
  display: flex;
  -webkit-align-items: center;
}
#msform .action-button.viewRooms {
  background: #3d58a4;
  color: #fff;
}
#msform .action-button.secondary {
  background: #dddddd;
  left: 0;
  padding-right: 35px;
}
#msform .action-button.default {
  right: 50%;
  padding-left: 35px;
}

@media (min-width: 1200px) {
  #msform .fieldset_inr:has(.sc_btn_po),
  #msform .fieldset_inr:has(.sc_btn_po_new) {
    position: relative;
  }
  #msform .sc_btn_po,
  #msform .sc_btn_po_new {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
  }

  #msform .sc_btn_po_new {
    width: auto;
  }

  #msform .sc_btn_po .action-button,
  #msform .sc_btn_po .skip_btn,
  #msform .sc_btn_po_new .action-button {
    position: static;
  }
  #msform .sc_btn_po_new .action-button {
    padding: 10px 15px 10px 25px;
  }
}

#msform .sc_btn_po_new .action-button.secondary svg {
  margin-left: 10px;
  margin-right: 0;
}

#msform .action-button.secondary svg {
  margin-right: 10px;
}
#msform .action-button.default svg {
  margin-left: 10px;
}
#msform .action-button:hover,
#msform .action-button:focus {
}
.skip_btn {
  position: absolute;
  height: 66px;
  bottom: -90px;
  right: calc(50% + 270px);
  background: rgb(221, 221, 221);
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-transform: uppercase;
}
/*headings*/
.fs-title-step-1 {
  position: absolute;
  top: -105px;
  left: 0;
  width: 240px;
}

.fs-title-step-1 .fs-title {
  position: static;
  margin: 0;
  line-height: 1.3;
}
.fs-title-step-1 p {
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 1.2;
}
.fs-title {
  /* font-size: 40px; */
  font-size: 34px;
  margin-top: 2px;
  font-weight: 700;
  color: #3fab3b;
  margin-bottom: 10px;
  position: absolute;
  top: -100px;
  left: 0;
}
.fs-title-sm {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Manrope", sans-serif;
  /* max-width: 540px; */
  font-size: 22px;
  color: #3d58a4;
}
.pro_details .fs-subtitle {
  font-size: 18px;
  color: #484848;
}

@media (min-width: 1200px) {
  .fs-title-step-1.custom_fs_title {
    width: 320px;
  }
  .fs-title-step-1.custom_fs_title .fs-title {
    line-height: 1.1;
  }

  .fs-title-step-1.custom_fs_title p {
    font-size: 12px;
  }
}

/*progressbar*/
.mobile-steps {
  display: none;
}
#progressbar {
  width: 600px;
  max-width: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  position: relative;
  z-index: 1;
}
#progressbar li {
  list-style-type: none;
  color: #484848;
  font-size: 14px;
  width: 20%;
  float: left;
  position: relative;
  font-family: "Manrope", sans-serif;
  text-align: center;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  line-height: 50px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background: #9c9c9c;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  text-align: center;
  font-family: "Oswald", system-ui;
}
#progressbar li:last-child:before {
  background: url("../images/cart.png") no-repeat center, #9c9c9c;
  background-size: 25px auto;
  content: "";
  height: 50px;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #484848;
  position: absolute;
  left: -50%;
  top: 24px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before {
  background: #3fab3b;
  color: white;
}
#progressbar li:last-child.active:before {
  background: url(/_next/static/media/cart.00e23f85.png) no-repeat center,
    #3fab3b;
  background-size: 25px auto;
  content: "";
  height: 50px;
}
#progressbar li.prevStep:before {
  background: #3d58a4;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.v-center {
  align-items: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* header */
.header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 0 75px;
  background: #fff;
}
.header .item-center {
  flex: 1;
}
.header .item-right {
  flex: 0 0 23%;
  display: flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
}
.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.header .menu > ul > li {
  display: inline-block;
  line-height: 60px;
  margin-left: 25px;
}
.header .menu > ul > li:first-child {
  margin-left: 0;
}
.header .menu > ul > li > a {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  position: relative;
  text-transform: uppercase;
  transition: color 0.3s ease;
  display: -webkit-flex;
  -webkit-align-items: center;
}
.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #e5e5e5;
  /* box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3); */
  padding: 20px 30px;
  transition: all 0.2s ease;
  margin-top: -15px;
  opacity: 0;
  visibility: hidden;
}
.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}
.color_list {
  width: 5rem;
  height: 5rem;
}
.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  /* max-width: 1100px; */
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  padding: 6px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #3d58a4;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}
.header
  .menu
  > ul
  > li
  .sub-menu.mega-menu-column-4
  > .list-item.text-center
  .title {
  text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
  height: 300px;
  object-fit: cover;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #3fab3b;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}
.search_holder {
  flex: 1;
}
.search_holder input:focus {
  outline: none;
}
.search_icon {
  color: #3d58a4;
}
.cart_holder {
  position: relative;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  background: #efefef;
  padding: 5px;
}
.cart_holder span {
  background: #3d58a4;
  color: #fff;
  position: absolute;
  right: 3px;
  top: 5px;
  font-size: 10px;
  width: 12px;
  height: 12px;
  line-height: 13px;
  font-weight: 300;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  font-family: "Manrope", sans-serif;
}
.layout_select li span {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

/* Checkbox Design */
.checkbox_area .radio_check label {
  position: relative;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  padding-left: 36px;
}
/* new Changes */
.head_btm {
  display: none;
}
.call_us,
.quote {
  display: none;
}
.sameLine {
  display: flex;
  align-items: center;
}
#msform .sameLine select {
  width: 150px;
  margin: 0;
}
.fieldset_inr form .sameLine .fieldlabels {
  margin: 0;
  padding-right: 15px;
}

@media (max-width: 480px) {
  .checkbox_area .radio_check label {
    position: relative;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    padding-left: 5px;
  }
  .color_list {
    width: 2.75rem !important;
    height: 2.75rem !important;
  }
}
@media (max-width: 440px) {
  .start-over {
    font-size: 15px !important;
  }
  .color_list {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}
.checkbox_area .radio_check label:before {
  position: absolute;
  content: "";
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  left: 3px;
  border: 1px solid #707070;
}
.checkbox_area .radio_check input[type="radio"] {
  display: none !important;
}
.checkbox_area .radio_check label:after {
  position: absolute;
  content: "";
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #43579f;
  left: 6px;
  top: 3px;
  opacity: 0;
}
.checkbox_area .radio_check input[type="radio"]:checked + label:after {
  opacity: 1;
}
.checkbox_area .radio_check {
  /* padding-left: 29px; */
  margin-top: 19px;
}
/* Checkbox Design End */
/* Select Layout */
.calculate_heading .shrink-0 {
  transform: rotate(180deg) !important;
}
.calculate_heading .shrink-0.rotate-180 {
  transform: rotate(90deg) !important;
}
.stall_box span {
  font-size: 14px;
  font-weight: 500;
}

.calculate_heading button[aria-expanded="true"] {
  border-bottom: 1px solid transparent !important;
}
.calculate_heading .keg_details {
  border-bottom: 1px solid #000 !important;
}
.calculate_heading .hidden .keg_details {
  border-bottom: 1px solid transparent !important;
}
/* Select Layout End */
.materials ul li {
  text-align: center;
}
.materials ul li img {
  margin: 0 auto;
}
.material_name,
.material_price {
  font-family: "Manrope", sans-serif;
  margin-bottom: 10px;
}
.material_name {
  font-size: 22px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material_name span {
  padding-left: 6px;
}
.material_name span #tooltip-default {
  font-size: 13px;
  min-width: 160px;
  padding-top: 7px;
  right: 5px;
  top: -2rem;
}
.material_price {
  font-weight: bold;
  margin: 10px 0 0;
  font-size: 24px;
}
.select_color_all h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.select_color {
  max-width: 424px;
  margin-left: auto;
  margin-right: auto;
}
.clr-box {
  background: #e80000;
  width: 190px;
  height: 129px;
  border: 1px solid #707070;
}
.clr-box_holder {
  text-align: center;
}
.clr-box_holder span {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
}
.select_color_right {
  text-align: center;
}
.select_color_right h4 {
  margin: 0;
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  line-height: 1.2;
  padding: 0 0 30px;
}
.modal_btn {
  position: absolute;
  right: -6px;
  top: -8px;
  background: #3fab3b;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
}
.all_room {
  position: absolute;
  top: -60px;
  right: -100%;
  z-index: 1;
  /* width: 68%;
  min-width: 60%;
  min-height: 67px; */
}
.all_room_select {
  min-width: 110px;
  margin: 0 !important;
}
.slider {
  overflow-x: auto;
}
.checkbox_area .radio_check.all_room label {
  font-size: 23px;
  color: #000000;
  font-weight: 500;
  font-family: "Oswald", system-ui;
  line-height: 1;
}
.all_colors ul li {
  width: 105px;
  height: 105px;
  background: #e80000;
  margin: 0 0 10px;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25%);
  }
}

.animate-pulsate {
  animation: pulse 0.8s infinite;
}
.generate_payment {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.payment_loader svg,
.pdf_loader svg {
  margin: 0 auto 20px;
}
.payment_loader span {
  font-size: 40px;
}
.generate_pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.pdf_loader span,
.error_pdf span {
  font-size: 35px;
}

.stallToSelect button,
.chooseMaterial button {
  cursor: unset;
}
.chooseMaterial button svg {
  transform: rotate(180deg);
}
.stallToSelect button svg {
  transform: rotate(180deg);
}
.select_color_right {
  display: none;
}
.disclaimer {
  position: absolute;
  top: 0;
  background: #888;
  left: 0;
  right: 0;
  color: #fff;
  padding: 4px 20px 6px;
  font-size: 14px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.form-card .checkbox_area .radio_check + div {
  min-height: 30px;
}
.contactDetails {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.5px;
  background: #fff;
  padding: 5px 0 10px;
  border-radius: 4px;
}
.contactDetails.contactDetails-step-3 {
  margin-top: 30px;
}
.contactDetails h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}
.contactDetails p {
  line-height: 1.3;
}
.phoneHolder a {
  font-weight: 700;
  color: #3d58a4;
  font-size: 19px;
}
.emailHolder a {
  font-weight: 300;
  text-decoration: underline;
  color: #000;
  font-size: 18px;
}
.border-6 {
  border-width: 6px;
}

/*responsive*/
@media (min-width: 991px) {
  .sec_header {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: visible;
  }
  .color_list {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .materials {
    margin-top: 30px;
  }
}
@media (min-width: 1551px) {
  .main-wrap {
    padding: 142px 0 0 0;
  }
  .color_list {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 1550px) {
  .header_inr,
  .header {
    padding: 0 20px;
  }
  .logo {
    max-width: 270px;
  }
}
@media (max-width: 1410px) {
  .fs-title {
    font-size: 30px;
  }
  .color_list {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 1380px) {
  .color_list {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 1360px) {
  .main-wrap {
    padding-top: 122px;
  }
  .logo {
    max-width: 240px;
  }
  .top_text {
    font-size: 18px;
  }
  .quote a {
    font-size: 22px;
  }
  .color_list {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 1320px) {
  .clr-box {
    width: 180px;
  }
  .fs-title {
    font-size: 28px;
    margin-top: 5px;
  }
  .color_list {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 1280px) {
  .fs-title {
    font-size: 26px;
    margin-top: 7px;
  }
  .clr-box {
    width: 170px;
  }
  .all_room .custom_btn {
    padding: 10px 5px 10px 15px;
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .logo {
    max-width: 200px;
  }
  .quote a {
    font-size: 20px;
  }
  .fs-title {
    font-size: 24px;
  }
  .material_name {
    font-size: 20px;
  }
  .material_price {
    font-size: 22px;
  }
}

@media (max-width: 1199px) {
  .checkbox_area .radio_check {
    padding-left: 0;
  }
  .checkbox_area .radio_check.all_room label {
    padding-left: 33px;
  }
  .checkbox_area .radio_check label:before {
    left: 0;
    top: 0;
  }
  .checkbox_area .radio_check label:after {
    left: 3px;
    top: 3pxpx;
  }
  .slider {
    max-width: 100%;
    overflow-x: auto;
  }
  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }
  .header .item-right {
    flex: 0 0 auto;
  }
  .v-center {
    justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }

  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu.active {
    transform: translate(0%);
  }
  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i,
  .header .menu > ul > li > a span {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }
  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center
    .title {
    margin-bottom: 20px;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0px;
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }
  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
    font-size: 13px;
  }
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 0;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  /* git responsive */
  .sec_header {
    display: none;
  }
  .main-wrap {
    padding: 0;
  }
  #msform {
    padding: 100px 0 40px;
    margin-top: 0;
  }
  .start-over {
    top: 15px;
  }
  .form_section {
    padding-bottom: 100px;
  }
  .form_content {
    min-height: auto;
    margin-top: 20px;
  }
  #msform fieldset {
    position: static;
  }
  .fieldset_inr {
    width: 100%;
  }
  .right_sec {
    position: relative;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 25px 0 0;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
  }
  .right_sec_inr {
    flex-flow: column;
  }
  .fs-title-step-1 {
    position: static;
    padding: 0 0 15px;
    width: auto;
  }
  .fs-title {
    position: static;
    font-size: 22px;
    margin-top: 0;
  }
  .mobile_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    left: 0;
    background: #eff7fd;
    border-top: 1px solid #9c9c9c;
    z-index: 90;
  }
  .mobile_btn.mobile_btn_first {
    justify-content: end;
  }
  #msform .mobile_btn .action-button {
    position: static;
    margin: 0;
  }
  #msform .logo {
    display: block;
    position: absolute;
    top: 15px;
  }
  #progressbar {
    display: none;
  }
  .mobile-steps {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    border-top: 1px solid #9c9c9c;
    padding-top: 20px;
  }
  .mob_step {
    font-family: "Manrope", sans-serif;
    display: -webkit-flex;
    -webkit-align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .mob_step span {
    background: #3fab3b;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    text-align: center;
    font-family: "Oswald", system-ui;
    display: block;
    margin-right: 10px;
  }
  .total_steps {
    display: -webkit-flex;
    -webkit-align-items: center;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
  }
  .all_room {
    top: 15px;
    right: 15px;
  }
  .contactDetails {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .skip_btn {
    position: static;
    margin-left: auto;
    margin-right: 10px;
  }
  .stepthree_area {
    margin-top: 40px;
  }
  .selectMaterial.fs-title {
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .clr-box {
    width: 130px;
  }
  .material_name {
    font-size: 17px;
  }
  .material_price {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .checkbox_area .radio_check {
    padding-left: 0;
  }
  .checkbox_area .radio_check.all_room label {
    padding-left: 33px;
  }
  .checkbox_area .radio_check label:before {
    left: 0;
    top: 0;
  }
  .checkbox_area .radio_check label:after {
    left: 3px;
    top: 3px;
  }
  .slider {
    max-width: 100%;
    overflow-x: auto;
  }
  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }
  .header .item-right {
    flex: 0 0 auto;
  }
  .v-center {
    justify-content: space-between;
  }
  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }
  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }
  .header .mobile-menu-trigger span:before {
    top: -6px;
  }
  .header .mobile-menu-trigger span:after {
    top: 6px;
  }

  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }
  .header .menu.active {
    transform: translate(0%);
  }
  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }
  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header .menu > ul > li > a i,
  .header .menu > ul > li > a span {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }
  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 16px;
    display: none;
  }
  .header .menu .mobile-menu-head.active .go-back {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  }
  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }
  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }
  .header .menu > ul > li .sub-menu.active {
    display: block;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center
    .title {
    margin-bottom: 20px;
  }
  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0px;
  }
  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }
  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
    font-size: 13px;
  }
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 0;
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }

  /* git responsive */
  .sec_header {
    display: none;
  }
  .main-wrap {
    padding: 0;
  }
  #msform {
    padding: 100px 0 40px;
    margin-top: 0;
  }
  .start-over {
    top: 15px;
  }
  .form_section {
    padding-bottom: 100px;
  }
  .form_content {
    min-height: auto;
    margin-top: 20px;
  }
  #msform fieldset {
    position: static;
  }
  .fieldset_inr {
    width: 100%;
  }
  .right_sec {
    position: relative;
    height: 500px;
    width: 100%;
    padding: 0;
    margin: 25px 0 0;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
  }
  .right_sec_inr {
    flex-flow: column;
  }
  .fs-title {
    position: static;
    font-size: 22px;
  }
  .mobile_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    left: 0;
    background: #eff7fd;
    border-top: 1px solid #9c9c9c;
    z-index: 90;
  }
  .mobile_btn.mobile_btn_first {
    justify-content: end;
  }
  #msform .mobile_btn .action-button {
    position: static;
    margin: 0;
  }
  #msform .logo {
    display: block;
    position: absolute;
    top: 15px;
  }
  #progressbar {
    display: none;
  }
  .mobile-steps {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    border-top: 1px solid #9c9c9c;
    padding-top: 20px;
  }
  .mob_step {
    font-family: "Manrope", sans-serif;
    display: -webkit-flex;
    -webkit-align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .mob_step span {
    background: #3fab3b;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    text-align: center;
    font-family: "Oswald", system-ui;
    display: block;
    margin-right: 10px;
  }
  .total_steps {
    display: -webkit-flex;
    -webkit-align-items: center;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
  }
}
#accordion-collapse {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -30px;
  padding-right: 30px;
  scroll-behavior: smooth;
}
#accordion-collapse::-webkit-scrollbar {
  width: 8px; /* Set width for the vertical scrollbar */
}

/* Customize the scrollbar track (the area the thumb slides along) */
#accordion-collapse::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

/* Customize the scrollbar thumb (the draggable part) */
#accordion-collapse::-webkit-scrollbar-thumb {
  background-color: #3d58a4;
  border-radius: 10px;
  transition: background-color 0.3s ease; /* Optional transition effect */
}

/* Optional: Add a hover effect for the scrollbar thumb */
#accordion-collapse::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}

@-moz-document url-prefix() {
  /* Styles for Firefox only */
  #accordion-collapse {
    scrollbar-width: thin; /* Set desired scrollbar width */
    scrollbar-color: #3d58a4 #f0f0f0; /* Thumb color and track color */
  }
}

/* Styling for Firefox using pseudo-elements */
#accordion-collapse::-moz-scrollbar {
  width: 8px; /* Set the width for vertical scrollbar */
}

#accordion-collapse::-moz-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 8px;
}

#accordion-collapse::-moz-scrollbar-thumb {
  background-color: #3d58a4;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#accordion-collapse::-moz-scrollbar-thumb:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  #msform .action-button {
    font-size: 14px;
  }
  .start-over {
    font-size: 18px;
  }
  .checkbox_area .radio_check {
    padding-left: 0;
  }
  .custom_btn {
    margin-top: 8px;
  }
  .select_color_all .custom_btn:first-child {
    margin-top: 0;
  }
  .select_color_all .custom_btn:last-child {
    margin-top: 4px;
  }
  .checkbox_area .radio_check label:before {
    width: 25px;
    height: 25px;
    left: 0px;
    top: 0;
  }
  .checkbox_area .radio_check label:after {
    width: 20px;
    height: 20px;
    left: 2.5px;
    top: 3px;
  }
  .skip_btn {
    font-size: 14px;
  }
}
@media (max-width: 649px) {
  .checkbox_area .radio_check {
    display: flex;
    /* flex-flow: column; */
    min-width: 100%;
  }
  /* .all_room .group+.group{padding-left: 15px;} */
}
@media (max-width: 600px) {
  .all_room {
    position: static;
  }
  .stepthree_area {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .checkbox_area .radio_check.all_room label {
    font-size: 15px;
  }

  /* .checkbox_area .radio_check label:before {
    width: 30px;
    height: 30px;
    left: -34px;
  }
  .checkbox_area .radio_check label:after {
    width: 24px;
    height: 24px;
    left: -31px;
  } */
  .checkbox_area .radio_check label {
    padding-left: 34px;
  }
  .checkbox_area .radio_check label:after {
    width: 19px;
    height: 19px;
    left: 3px;
  }
  #msform .action-button {
    padding: 10px 10px;
  }
  #msform .action-button.secondary {
    padding-right: 17px;
  }
  #msform .action-button.default {
    padding-left: 17px;
  }
  .skip_btn {
    padding: 10px 17px;
  }
  #msform .sc_btn_po_new .action-button {
    padding: 10px 15px 10px 25px;
  }
}
@media (max-width: 479px) {
  .stall_box_area {
    display: flex;
    flex-flow: column;
  }
}
@media (max-width: 420px) {
  #msform {
    padding-top: 85px;
  }
  #msform .logo {
    max-width: 150px;
  }
  .start-over {
    font-size: 15px;
    padding: 14px 22px;
  }
}
@media (max-width: 400px) {
  .form_section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fieldset_inr {
    padding-left: 15px;
    padding-right: 15px;
  }
  .slider {
    max-width: 100%;
    overflow-x: auto;
  }
  #accordion-collapse {
    margin-right: -15px;
    padding-right: 15px;
  }
}
@media (max-width: 379px) {
  .mobile_btn .action-button {
    font-size: 10px !important;
    padding: 5px 15px !important;
  }
  .skip_btn {
    font-size: 10px;
  }
  .skip_btn {
    background: transparent;
    padding-left: 0;
    padding: 0;
  }
}

@media (max-width: 350px) {
  #msform .logo {
    max-width: 140px;
  }
  .start-over {
    font-size: 14px;
    padding: 12px 20px;
  }
  .mobile_btn .action-button {
    font-size: 10px !important;
    padding: 5px 15px !important;
  }
  .checkbox_area .radio_check label:before {
    width: 25px;
    height: 25px;
  }
  .checkbox_area .radio_check label:after {
    width: 19px;
    height: 19px;
  }
}
@media (max-width: 330px) {
  .all_room .group + .group {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .right_sec {
    margin: 55px 0 0;
  }
  .all_room {
    top: 100%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    min-height: 62px;
  }
  .b_btn.sc_b_btn {
    position: absolute;
    left:20px;
    padding: 6px 16px;
    bottom: -42px;
  }
  .all_room .slider {
    flex: none;
  }
  .material_name {
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .material_name {
    font-size: 18px;
  }
  .lyout_box{
    height:90px;
  }
}

.contactDetailsMb{
  display: none;
}

@media (max-width:1199px) {
  .mobile-steps .total_steps{
    display: none;
  }
  .contactDetailsMb{
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: center;
    background: #fff;
    padding:5px;
    border-radius: 4px;
  }
  .contactDetailsMb h2 {
      font-size:11px;
      font-weight: 500;
      color: #000;
  }
  .contactDetailsMb .phoneHolder a {
      font-size: 11px;
  }
  .contactDetailsMb .emailHolder a {
    font-size: 10px;
  }
  .contactDetailsMb p {
    line-height: 1;
  }
}


@media (min-width:768px) and (max-width:1199px) {
  .contactDetailsMb{
    padding:10px;
  }
    .contactDetailsMb h2 {
      font-size:14px;
  }
  .contactDetailsMb .phoneHolder a {
      font-size: 13px;
  }
  .contactDetailsMb .emailHolder a {
    font-size: 12px;
  }
}


@media (max-width:767px) {
  .all_room {
    position: static;
  }
}

@media (min-width:1200px) and (max-width:1279px) {
  .b_btn.sc_b_btn {
      padding: 6px 16px;
      line-height: 1;
      font-size: 14px;
      position: absolute;
      left: 30px;
      min-width: 130px;
  }
  .all_room.radio_check:has(.sc_b_btn){
    top:-62px;
  }
}